*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
a, a:visited {
  text-decoration: none; }
ul, ol, li {
    list-style: none;
}
ul li {
  list-style: none; }
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
body {
/*    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;*/
/*    font-family: font-family: "Poppins";*/
    background-color: #373737;
    font-weight: 400;
    color: #fff;
    font-family: "Fira Sans", sans-serif;
}
button,
input {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0; }
button {
    background-color: none;
    border: 0;
    cursor: pointer;
    background-color: inherit;
}