@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600;700&display=swap');

/*Обнуление*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }
button {
    background-color: none;
    border: 0;
    cursor: pointer;
    background-color: inherit;
}
button,
input {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}
a, a:visited {
  text-decoration: none; }
ul li {
  list-style: none; }
body {
/*    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;*/
/*    font-family: font-family: "Poppins";*/
    background-color: #373737;
    font-weight: 400;
    color: #fff;
    font-family: "Fira Sans", sans-serif;
}
section {
    margin: 30px 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}
[class*="wrapper"] {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
}

.list-link:hover {
    color: lightslategray;
    text-decoration: none;
}
/*HEADER*/
.button {
    display: inline-block;
    text-align: center;
    padding: 16px 30px;
    background-color: #3d96f4; 
    border-radius: 50px;
    color: #000;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease 0s;
    line-height: 1.43; /* 22/14 */
    cursor: pointer;
}
.button:hover {
    background-color: #73b0f2;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.5s ease-in-out;
    z-index: 1000;
    background-color: #333;
}
.mobile__menu .menu__item {
    display: none;
}
.icon-menu {
      background-color: inherit;
}
.menu__list>.menu__item>i.fa-solid {
        font-size: 32px;
        margin-right: 15px;
}
.header__container {
    display: flex;
    column-gap: 35px;
    align-items: center;
    min-height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header__menu {
    flex: 1 1 auto;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 3px;
    justify-content: flex-end;
}
.menu__link {
    font-size: 16px;
    color: #fff;
    line-height: 1.62; /* 26/16 */
    position: relative;
    cursor: pointer;
}
.menu__link:hover {
    color: grey;
    transition: 0.3s;
    padding-left: 2px;
    border-bottom: #ff0000 solid 2px;
    padding-bottom: 10px;
}
.cart-header {
    color: #fff;
    align-items: center;
    display: flex;
    gap: 5px;
    cursor: pointer;
}
.cart-header:hover .cart-header__text {
    color: grey;
    transition: 0.4s;
}
.cart-header__text {
    font-size: 18px;
    line-height: 1.55; /*28/18*/
}
.cart-header__quantity {
    background: rgba(129, 129, 139, 0.3);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}
.header__button {
    flex: 0 0 auto;
}
.icon-menu {
    display: none;
}
.header__logo,
.header__cart,
.header__button {
    position: relative;
    z-index: 5;
}
.menu-open .menu__body,
.menu-open .menu__body::before {
    left: 0;
}
.menu-item__icon {
    display: none;
}
@media (min-width: 1716px) {
.menu__link {
    font-size: 35px;
}
.cart-header__text {
    font-size: 35px;
}
.cart-header__quantity {
    font-size: 30px;
    font-weight: 500;
    width: 60px;
    height: 60px;
    text-align: center;
}
.button {
    font-size: 23px;
}
.header__logo img {
        width: 150px;
    }
}
@media (max-width: 1716px) {
.menu__link {
    font-size: 23px;
}
.cart-header__text {
    font-size: 25px;
}
.cart-header__quantity {
    font-size: 20px;
    font-weight: 500;
}
.header__logo img {
        width: 100px;
}
}
@media (max-width: 1360px) {
.menu__link {
    font-size: 23px;
}
/*.cart-header__text {
    font-size: 25px;
}*/
.cart-header__quantity {
    font-size: 17px;
    font-weight: 500;
}
.header__logo img {
        width: 100px;
}
}
@media (max-width: 991.98px) {
    .button {
        padding: 14px 20px;
    }
    .header__container,
    .menu__list {
        column-gap: 15px;
    }
    .header__container {
        min-height: 90px;
    }
    .menu__list li:last-child {
        display: none;
    }
}   
@media (max-width: 767.98px) {
    .mobile__menu .menu__item {
        display: block; }
    .desktop__menu .menu__item {
        display: none; }

    .button {
        right: 10px;
    }
    .menu__list li:last-child {
        display: block;
    }
    .header__container,
    .menu__list {
        column-gap: 10px;
    }
    .menu__list .menu__item:nth-child {
        display: none;
    }
    .header__container {
        min-height: 70px;
        z-index: 9999;
    }
    .icon-menu {
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 5;
    }
    .menu__body>.icon-menu {display: none;}
    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        right: 10px;
        margin-left: 10px;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: left 0.6s ease 0s;
    }
    .icon-menu::before {
        top: 0;
    }
    .icon-menu::after {
        bottom: 0;
    }
    .icon-menu span {
        top: calc(50% - 1px);
    }
    .menu-open .icon-menu span {
        width: 0;
    }
    .menu-open .icon-menu::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
    }
    .menu-open .icon-menu::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
    }
    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: skyblue;
        left: -100%;
        top: 0;
        padding: 100px 15px 30px 15px;
        overflow: auto;
        transition: left 0.6s ease 0s;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    /*.menu__body::before {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 7%;
        top: 0;
        left: -100%;
        height: 70px;
        background-color: #000;
        z-index: 2;
        transition: left 0.6s ease 0s;
    }*/
    .menu__list {
        row-gap: 10px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-weight: 800;
    }
    .menu__link {
        font-size: 32px;
    }

    .menu-item__icon {
        display: block;
        margin-top: auto;
    }
    .menu-item__icon .social-media__header {
        align-items: self-end;
        font-size: 45px;
    }
    .list-link {
        font-weight: 800;
    }
    .list-link:hover {
        color: #333;

    }
.list.social-media__header {
    display: flex;
    justify-content: space-around;
}
}
@media (max-width: 560px) {
    .header__container {
        z-index: 9999;
    }
    .header__logo {
        width: 32px;
        flex: 0 0 32px;
        /* overflow: hidden; */
    }
    .header__logo img {
        width: 90px;
    }
    .cart-header__text {
        display: none;
    }
    .cart-header__quantity {
        width: 39px;
        font-size: 20px;
        font-weight: 600;
        height: 39px;
        padding-top: 3px;
        margin: 5px;
        border-radius: 50%;
    }
    .button {
    padding: 12px 20px;
    letter-spacing: 2px;
    width: 100px;
    text-align: center;
}
.menu-item__icon .social-media__header {
    font-size: 35px;}
}

/*MAIN*/
.page {
    flex: 1 1 auto;
    margin-bottom: 80px;
}
.section__main {
    position: relative;
}

.section__main:before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url('../img/background/background3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* Dark overlay */
    /* Blur effect */
    filter: blur(2px);
}
.main__wrapper {
    margin: 115px 0 0px 90px;
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
}

.main__body {
    max-width: 800px;
    height: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6); 
}
.main-text__wrap {}
.main__body:before {
    content: "";
    filter: blur(10px); 
}
.main__logo {
    margin: 0px 0 20px 0;
    border: solid #fff 5px;
    display: inline-block;
    border-radius: 50%; /* Делаем обводку круглой */
    overflow: hidden; /* Обрезаем изображение по границам обводки */
    position: relative;
    animation: fallFromTop 1.5s ease forwards;
}
    @keyframes fallFromTop {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
.main__logo img {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    display: block; /* Убираем лишние отступы вокруг изображения */
}
.main__title {
    font-size: clamp(28px, 8vw, 72px);
    opacity: 0;
    transform: translateX(100%);
    animation: slideFromRight 1.5s ease forwards, dissolveIn 2s ease forwards;
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes dissolveIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main__text {
    font-size: clamp(14px, 4vw, 18px);
    margin: 40px 0;
}
.main__text p {
        position: relative;
        opacity: 0;
        transform: translateY(50px);
        animation: slideFromBottom 1.5s ease forwards;
    }

    @keyframes slideFromBottom {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
.main__btns {
/*    margin: 40px 0;*/
}
.main__btn {
/*    padding: 20px;*/
    border: 3px solid #fff;
    border-radius: 4px;
    font-weight: 800;
    letter-spacing: 1px;

}
.main__btns {
    display: flex;
}
.main__btns a {
    text-align: center;
}
.main__btn {
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    animation: slideFromBottom 1.5s ease forwards;
    font-family: AvenirNext;
}

    @keyframes slideFromBottom {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
.main-btn__about {
    margin: 0 40px 20px 0;
    padding: 20px 40px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    width: 260px;
}
.main-btn__about:hover {
    color: #fff;
    background-color: #333;
    transition: background 0.5s;
}
.main-btn__more {
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin: 0 0 20px;
    font-size: 16px;
    width: 320px;
    text-align: justify;
}
.main-btn__more span {
    max-width: 80%;
    position: relative;
    text-align: left;
}
.main-btn__more svg {
    float: left;
    max-width: 15%;
    position: relative;
    top: 9px;
}
.main-btn__more:hover {
    background-color: #333;
    transition: background 0.3s;
}
@media (max-width: 1100px) {
    .main__wrapper {
        margin-left: 0;
    }
}
@media (max-width: 991.98px) {
    .main__wrapper {
        margin-top: 90px;
    }
}
@media (max-width: 767.98px) {
    .main__wrapper {
        margin-top: 0;
    }
    .main__btns {
        flex-direction: column;
        flex: 1;}
}
@media (max-width: 449.98px) {
    .main__btn {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        max-width: 100%;
        white-space: normal;
        line-height: 20px;
        text-align: left;
}
.main-btn__about {
    padding: 15px 20px;
    text-align: center;
}
.main-btn__more {
    padding: 15px 0;
}
.main-btn__more svg {
    top: 0;
}
}




/*.info {
    width: 100vw;
    height: 100vh;}*/
/*.info {
    position: relative;
    top: 80px;}
.info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../img/background/background4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px); 
    z-index: -1; }*/

/*Горизонтальні лінії*/
.curved-line {
    width: 600px;
    max-width: 100vw;
    height: 5px;
    background-color: #000fff;
    border-radius: 50%;
    margin-top: 50px;
}
.curved-line-2 {
    width: 100%;
    max-width: 100vw;
    height: 5px;
    background-color: #ff0000;
    border-radius: 50%;
    margin-top: 50px;
    margin: 0 0 40px 0;
}
.curved-line-3 {
    width: 1200px;
    max-width: 100vw;
    height: 5px;
    background-color: #888888;
    border-radius: 50%;
    margin: 30px auto 0 auto; 
}
.curved-line-4 {
    width: 500px;
    max-width: 100%;
    height: 7px;
    border-radius: 50%;
    background: linear-gradient(to right, #ff0000, #00ff00, #0000ff);
    background-size: 200% 100%;
    animation: gradientAnimation 3s linear infinite;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}
.cinema{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 10px 15px 18px 6px rgba(255, 255, 0, 0.9); /* Это добавляет тень */
    border-radius: 8px; /* Для скругления углов */
    overflow: hidden; 
    padding-bottom: 80px;  
}
.cinemas {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: center;
    gap: 50px 20px 100px 20px;
    padding: 80px 50px 0;
}
/*.cinemas > div.cinemas {
    width: 25%;
}*/
.cinemas .cinemas__card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}
.cinemas .cinemas__card:hover {
   height: 400px;
}
.cinemas .cinemas__card .imgbx {
    position: absolute;
    top: 20px;
    width: auto;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}
.cinemas .cinemas__card:hover .imgbx {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);
    /*position: relative;
    z-index: 9999;*/
}
.cinemas .cinemas__card .imgbx img  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    aspect-ratio: 1/1;
}
.cinemas .cinemas__card .cinemas__content {
    position: absolute;
    top: 252px;
    width: 100%;
    padding:0 30px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}
.cinemas .cinemas__card:hover .cinemas__content{
    top: 130px;
    height: 400px;
}
.cinemas .cinemas__card .cinemas__content h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--clr);
}
.cinemas .cinemas__card .cinemas__content p {
    color: #333;
    font-size: 1.05em;
}
.cinemas .cinemas__card .cinemas__content div {
    text-decoration:none;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background-color:var(--clr);
    color: #fff;
    font-size: 500;
    border-radius: 8px;
    cursor: pointer;
}
.imgbx {
    min-width: 300px;
    min-height: 200px;
    transition: 263ms all;
    z-index: 3;
}
.imgbx>img {
    height: 100%;
    width: 100%;
}
.imgbx>img:hover {
    cursor: pointer;
    transform: scale(1.1);
}
@media (min-width: 1716px) {
    .cinemas .cinemas__card {
        min-width: 450px;
    }
}
@media(max-width: 1716px) {
    .cinemas {
        margin-bottom: 20px; 
    }
    .cinemas .cinemas__card {
        width: 400px;
    }
}
@media(max-width: 1499.98px) {
    .cinemas {
        gap: 50px 15px 100px 15px;
        padding: 80px 20px 0;

    }
}
@media(max-width: 1400px) {
    .cinemas .cinemas__card {
        width: 350px;
    }
}
@media(max-width: 1300px) {
    .cinemas {
        margin-bottom: 20px; 
    }
    .cinemas .cinemas__card {
        width: 300px;
    }
}
@media(max-width: 1200px) {
    .cinemas {
        margin-bottom: 20px; 
        gap: 50px 10px 100px 10px;
        padding: 80px 40px 0;
    }
    /*.cinemas .cinemas__card {
        width: 270px;
        height: 300px;
    }*/
    /*.imgbx  {
        width: 100%;
    }*/
}
@media(max-width: 1100px) {
    .cinemas {
        padding: 80px 25px 0;
    }
}
@media(max-width: 1050px) {
    .cinemas {
        margin-bottom: 20px; 
        padding: 80px 15px 0;
    }
}
@media(max-width: 991.98px) {
    .cinema {
        flex-direction: column;
        padding-top: 30px;
        box-shadow: none;
        border-radius: 0; 
        overflow: none; 
        padding-bottom: 0; 
    }
    .cinemas {
        margin-bottom: 20px; 
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    .cinemas:first-child {
        margin-top: 60px;
        margin-left: 0;
    }
    .cinemas .cinemas__card {
        width: 400px;
        height: 350px;
    }
    .imgbx {
        min-width: 320px;
    }
}
@media(max-width: 767.98px) {
    .cinema {
        padding-top: 20px;
    }
 }
@media(max-width: 634px) {
    .cinemas {
        margin-bottom: 20px; 
    }
    .cinemas:first-child {
        margin-top: 60px;
        margin-left: 0;
    }
    .cinemas .cinemas__card {
        width: 400px;
        height: 350px;
    }
}
@media(max-width: 560px){
    .cinemas .cinemas__card {
        width: 360px;
        height: 350px;
    }
}
@media(max-width: 375px) {
    .cinemas {
        justify-content: center;
        height: 400px;
        position: relative;
    }
    .cinemas:first-child {
        margin: 60px 0 0px 0;
    }
    
    .cinemas .cinemas__card {
        width: 300px;    }
    .imgbx {
        min-width: 300px;
    }
}
/*Як проходять наші заняття*/
/*-----------------CLASSES------------------------*/

.classes {
    font-size: clamp(28px, 8vw, 72px);
    padding: 20px 0 0 0;
    opacity: 0;
}
/*-------------mp4 player-----------*/
.player__wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.player__video {

    height: 50%;
}*/
.player {
    width: 85%;
    margin: 0 auto;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1200.98px) {
.player {
    width: 90%;
}
}
@media (max-width: 991.98px) {
    .classes {
        font-size: 40px;
        margin: auto 0;
}
.player {
    width: 100%;
}
}
@media (max-width: 767.98px) {
.player__video {

    height: 70vh !important;
}
}
@media (max-width: 634px) {
    .classes {
        font-size: 30px;
}
}
@media (max-width: 560px) {
    .classes {
        font-size: 30px;
}
.player__video {

    height: 60vh !important;
}

}
@media (max-width: 449px) {
    .classes {
        font-size: 20px;
        margin: 0 0 12px 0;
}
.player__video {

    height: 40vh !important;
}
}

/*--------------------OUR PROJECTS SECTION--------------------*/
.default-container {
   margin: 60px 0 40px 0;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   padding: 30px 15px;
}
.default-container>p {
   display: none;
}

#default-container__text {
    font-size: 55px;
    margin: 0 0 15px 0;
    font-weight: bold;
    letter-spacing: 2px;
}
#default-container__p {
    font-size: 28px;
    letter-spacing: 1px;
    opacity: 0;
    font-weight: 600;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.posters-now {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
   gap: 60px;
   margin: 40px 0 20px 0;
}
.poster-now {
   min-width: 277px;
   min-height: 156px;
   background-color: #0C0B0B;
   transition: 263ms all;
   z-index: 3;
   border-top-right-radius: 10%;
   border-bottom-left-radius: 10%;
}
.poster-now>img {
   height: 100%;
   width: 100%;
   aspect-ratio: 1/1;
   border-top-right-radius: 10%;   
}
.poster-now img:hover {
    cursor: pointer;
    transform: scale(1.04);
    background-color: #fff;
}
.poster-label {
   font-size: 36px;
   color: #fff;
   margin: 16px;
   cursor: pointer;
   text-transform: uppercase;
}
.poster-label>p:first-child {
   font-size: 24px;
   color: #6A6A6A;
}
.default-container__button {
    display: flex;
    justify-content: right;
    position: relative;
    right: 60px;
    transform: translateY(50px);
    animation: slideFromBottom 1.5s ease forwards;
}
.default-container__button > button {
    padding: 25px 35px;
    background-color: #B0C4DE;
    color: #333;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 20px;
    font-size: 35px;
}
.default-container__button > button:hover {
    background-color: #000;
    transition: 0.6s;
    color: #fff;
}
@media(min-width: 1716px) {
.poster {
    width: auto;
    height: auto;
}
.default-container {
    margin-top: 30px;
}
.poster-now>img {
    width:100%;
    height: 70%;
}
}
@media(max-width: 1716px) {

.poster {
    width: 400px;
}
.default-container {
    margin-top: 30px;
}
.poster-now>img {
    width:100%;
    height: 70%;
}
}
@media(max-width: 1360px) {

.poster {
    width: 350px;
    height: 350px;
}
.default-container {
    margin-top: 30px;
}
.poster-now>img {
    height: 70%;
}
#default-container__p {
    font-size: 26px;}
}
@media(max-width: 1050px) {

.poster {
    min-width: auto;
    min-height: 350px;
}
.default-container {
    margin-top: 30px;
}
.poster-now>img {
   height: 70%;
}
#default-container__p {
    font-size: 24px;}
}
@media(max-width: 991.98px) {
/*.default-container {
    margin-top: 110px;
/*    background-image: url('/img/background/background4.png');}*/
#default-container__text {
    margin: 15px 0;
}
.poster {
       width: 200px;
       height: 200px;
}
.default-container {
    margin-top: 30px;
}
.poster-now>img {
    width:100%;
    height: 70%;
}
#default-container__p {
    font-size: 20px;}
.default-container__button {
    right: 0;
}
.default-container__button > button {
    padding: 20px 30px;
}
}
@media(max-width: 869px) {
.default-container__viev-all>button {
    display: none;
}
.default-container__button {
    justify-content: center;
}
}
@media(max-width: 664px) {
.posters-now {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.wrapper {
    padding: 0;
}
}
@media(max-width: 634px) {
.posters-now {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(215px, 3fr));
}
.poster-label>p {
    font-size: 25px}
.poster-label>p:last-child {
    font-size: 40px;}
.poster {
    width: 100%;
    height: 90%;}
.posters-now {
    gap: 30px;
    width: 100%;
    height: 80%;
    padding: 0 13%;
}
.default-container {
    margin-top: 30px;}
.poster-now>img {
    width: 100%;
    height: 70%;}
.poster-now {
    width: 100%;
}
#default-container__p {
    font-size: 18px;}

.default-container__button {
    justify-content: center;
    right: 0;
}
.default-container__button > button {
    font-size: 24px;
    padding: 25px 25px;
}
}
@media(max-width: 560px){
.posters-now {
    padding: 0 8%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(277px, 2fr));}
#default-container__text {
    font-size: 35px;
    margin: 20px 0;
}
.default-container>p {
    display: block;
    font-size: 16px;
}
p#default-container__p {
/*    margin-bottom: 25px;*/
}
#default-container__p {
    font-size: 16px;}
}
@media(max-width: 449px){
.default-container {
    width: 100%;
    height: 80%;
}
.poster-now>img {
    width:100%;
    height: 60%;}
.poster-now {
    max-height: 400px;
}
.posters-now {
    padding: 0 5%;
}
}
@media(max-width: 375px) {
.default-container {
    width: 100%;
    height: 70%;
}
.poster-now>img {
    width:100%;
    height: 60%;}
       /*POSTERS*/
.poster-now {
   min-width: auto;
   min-height: auto;
}
.posters-now {
   grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));  
}
.posters {
   grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
}
.poster-now {
   min-width: auto;
   min-height: auto;
}
.default-container {
    margin-top: 60px;
}
}

.wrapper-slider{
    height: 100%;
    padding: 50px 0;
    display: flex;
    justify-content:center;
    align-items: center;
}
@media (max-width:767px){
    .wrapper{padding: 50px 10px;}
}
/* Слайдер */
.slick-slider{
    min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}
/* Конкретный слайдер */
.slider {
    position: relative;
    padding: 0px 60px;
}
@media (max-width:767px){
    .slider {
        padding: 0px 40px;
    }
    .slider-item img {
    width: 390px;
    height: auto;
}
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url('../img/slick/sl-arrow_l.svg') 0 0 / 100% no-repeat;}
.slider .slick-arrow.slick-next{
    right: 0;
    background: url('../img/slick/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
    opacity: 0.2;
}
.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0px 10px;
}
.slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}
.slider .slick-dots li.slick-active button{
    background-color: transparent;
    border: 1px solid #fff;
}
.slider__item {
    padding: 0px 15px;
}
.slider__item img{
    max-width: 100%;
}
.slider__item.slick-center{}

/*Другий блок сайту*/
/*.content-wrapper {
    height: 100vh;}
.text-wrapper__h2 {
    margin-left: 60px; margin-top: 40px; font-size: 30px;
    max-width: 70%;
    margin-bottom: 40px;
    text-align: left;}
.text-wrapper__div {
    margin-left: 60px; margin-top: 40px; font-size: 20px;
    max-width: 50%;
    margin-bottom: 40px;
    font-weight: 450;}
.photo {
  position: absolute;
  width: 250px; 
  height: 300px; 
  border: 1px solid #000;
  transform-origin: center;
  background-color: white;
   overflow: hidden;}
.photo1 {
  z-index: 4;
  transform: rotate(-10deg);
  width: 350px;}
.photo2 {
  z-index: 3;
  transform: rotate(5deg) translate(200px, -200px); }
.photo3 {
  z-index: 2;
  transform: rotate(10deg) translate(350px, -350px); 
  width: 270px;
.photo4 {
  z-index: 1;
  transform: rotate(60deg) translate(250px, -250px); 
  width: 290px;}
.text__wrapper {
  max-width: 50%;
  font-size: 2.4rem;
  display: inline-block;
  text-align: left;
  top: 0;
  position: relative;}
.photo__wrapper {
  max-width: 50%;
  display: inline-block;
  text-align: right;
  bottom: 350px;
  position: relative;}*/


/*TEAM*/
.team__body {
    display: flex; 
}
.left__block,
.right__block {
    flex: 1;
    width: 100%;
}
.section__team {
    width: 100%;
    height: 100%;
}
.team {
    display: flow-root;
    position: relative;
}
.team__body {
    padding: 20px;
}
.left__block {
    width: 40%;
    float: left;
    position: relative;
/*    font-family: "Fira Sans", sans-serif;*/
}
.team__title {
    font-size: 60px;
    margin: 0 0 20px 0;
    font-weight: 600;
}
.team__text {
    font-size: 35px;
    max-width: 100%;
    margin: 20px 0 40px 0;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-text-stroke: 0.6px #333;
    margin: 50px 0;
    border-left: 5px #4CAF50 solid;
    padding-left: 10px;
}
.team__button {
    padding: 20px 35px;
    margin: 0 20%;
    min-height: 100px;
    background-color: #B0C4DE;
    color: #303;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 2s ease;
}
.team__button:hover {
    background: rgb(93,191,14);
    background: linear-gradient(90deg, rgba(93,191,14,1) 0%, rgba(17,205,183,1) 100%);
}
.right__block {
    width: 60%;
    float: right;
}
.team-right__image-and-text {
    margin: 0 0 0 30px;
}
.right-block-team__image {
    width: 100%;
    height: 100%;
    border-radius: 8%;
}
@media(max-width: 1300px){
    .left__block {
        width: 100%;
    }
    .right__block {
        margin-top: 5%;
        width: 100%;
    }
    .team-right__image-and-text{margin:0;}
}
@media(max-width: 1200px){
.team__body {
        flex-direction: column; /* Изменяем направление flexbox на вертикальное */
}
.left__block,
.right__block {
    flex: 1;
    max-width: 100%; /* Делаем оба блока занимающими всю доступную ширину */
}
.team-right__image-and-text {
    padding: 0 0 0 0px;
}
}
@media(max-width: 720px){
.team__title {
    font-size: 60px;
}
.team__text {
    font-size: 30px;
}
.right__block {
        margin-top: 10%;
    }
}
@media(max-width: 560px){
.team__text {
    font-size: 25px;
}
.team__button {
    margin: 0 0px;
}
.right__block {
        margin-top: 15%;
    }
}
@media(max-width: 375px){
.team__text {
    font-size: 20px;
}
}

/* Section our-projects */
.block__projects {
    border-radius: 30px;
    background-color: grey;
}
.section-wrapper__projects {
    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    border-radius: 15px;
}
.div-wrapper__projects {
/*    display: flow-root;*/
    margin: 10px 5% 10px 15%;
}
#display__block {
    display: flex;
    margin-top: 20px;
}
#display__block img {
    border-bottom: #fff solid 6px;
}
.section-projects__image {
    position: relative;
    width: 350px;
    margin: 30px 0;
}
.section-projects__text {
    margin: 30px 0 0 0;
    }
.image-block__projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto ;
}
.projects-wrap {
    padding-top: 40px;
} 
.image-block__projects img {
    border-radius: 5%;
    margin-left: 40px;
    width: 300px;
    height: 300px;
}
.text-block__projects {
    margin: 0 0 auto 60px;
    display: flex;
    text-align: left;
    justify-content: flex-end;
    font-weight: 500;
    line-height: 2;
    font-size: auto;
    letter-spacing: 1px;
}
#hidden__block {
    margin-top: 20px;
}
#hidden__block img {
    border-bottom: #fff solid 6px;
}
.block-container {
    display: none;
}
.block-outlined {
    outline: 10px red solid;
    filter: blur(5px);
    transition: outline 1s, filter 1s;
}

@media(min-width: 1716px){
.text-block__projects {
    font-size: 20px;
}
}
@media(max-width: 1350px){
.block__projects {
    display: flex;
    flex-direction: column; /* Установим столбцовую ориентацию для flex-контейнера */
    align-items: center; /* Центрируем дочерние элементы по горизонтали */
/*    margin-top: 20px;*/
}
#display__block img {
    max-width: 100%; /* Чтобы изображение не выходило за границы контейнера */
}
#hidden__block img {
    max-width: 100%;
}

.section-projects__image {
    width: 100%;
/*    height: 350px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;

}
.text-block__projects {
    margin: 0;
    font-weight: 500;
    line-height: 2;
    font-size: auto;
    letter-spacing: 1px;
/*    overflow-y: auto;  */
    padding: 0 10px 10px 40px;
}
.image-block__projects img {
    margin-left: 0;
}
.div-wrapper__projects {
    margin: 10px 5% 10px 5%;
}
.block-container {
    display: none;
}
}
@media(max-width: 869px){
.div-wrapper__projects {
    margin: 10px 0% 10px 0%;
}
button#button-for-the-section-our-films {
    margin: 0;
    width: 200px;
}
.section-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
}
@media(max-width: 720px){
.text-block__projects {
    font-size: 16px;
}
.text-block__projects {
    padding-left: 30px;
}
}
@media(max-width: 560px){
.image-block__projects img {
    padding: 20px;
    border-radius: 25px;
}
}
@media(max-width: 449px){
.text-block__projects {
    padding-left: 20px;
}
}
@media(max-width: 375px){
.text-block__projects {
    padding-left: 10px;
    font-size: 15px;
}
}


.contact__wrapper {
  font-family: "Gerhaus", sans-serif; /* Если шрифт не загрузится, будет использоваться альтернативный шрифт */
  width: 100%;
  height: 725px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact__body hr {display: none;}
.contact__wrapper h2 {
    text-align: center;
    font-size: clamp(30px, 3vw, 96px);
    padding: 20px;
    font-weight: 700;
}
    .contact__left {float: left;max-width: 40%;width: 100%;}
    .feedback-form {
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      height: 482px;
    }
    .feedback-form input[type="text"],
    .feedback-form input[type="email"],
    .feedback-form textarea {
      width: 100%;
      height: 66px;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 33px;
      box-sizing: border-box;
      font-size: 16px;
    }
    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    textarea::placeholder {
      font-family: "Gerhaus", sans-serif; 
      font-size: 1.66vw;
      color: #232328;
}
    .feedback-form textarea {
      resize: vertical;
      height: 198px;
      border-radius: 20px;
      letter-spacing: 1px
    }
    .feedback-form input[type="submit"] {
      background-color: #686965;
      color: #c6d9ec;
      box-shadow: #00FFFF 12px 12px 22px;
      border: none;
      padding: 12px 20px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
      font-weight: 600;
      letter-spacing: 1px;
      height: 50px;
    }
    .feedback-form input[type="submit"]:hover {
      background-color: #fff;
      color: #343434;
      font-weight: 600;
      letter-spacing: 1px;
    }
    .icon {
        position: absolute;
        bottom: 30px; /* Adjust the positioning as needed */
        right: 10px; /* Adjust the positioning as needed */
        pointer-events: none; /* Ensure the icon doesn't interfere with textarea interaction */
    }

    #message {
        position: relative;
        padding-right: 30px; /* Ensure space for the icon */
    }


.contact__right {max-width: 60%;float: right; width: 100%;}
gmp-map {
  height: 275px;
  margin: 0 0 30px 0;
}
.direct-contact-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 482px;
}
.contact-list {
  list-style-type: none;
  padding-right: 20px;
  color: #fff;
}
.list-item__contact {
  line-height: 4;
  color: #aaa;
}
.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #fff;
  font-weight: 600;
}
.phone {
  margin-left: 56px;
  font-size: 27px;
}
.gmail {
  margin-left: 53px;
  font-size: 27px;
}
.contact-text a {
  color: #fff;
  text-decoration: none;
  transition-duration: 0.1s;
}
.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.social-media-list li a {
  color: #fff;
}
.social-media-list li {
  text-align: center;
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: #333;
  cursor: pointer; 
  transition: all .2s ease-in-out;
}
.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
  pointer-events: none;
}
.social-media-list li:hover {
  background-color: #fff; 
}
.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}
.social-media-list li:hover a {
  color: #000;
}
.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 700;
}

@media (max-width:1200px) {
.contact__wrapper {
  height: 1200px;
}
    .contact__body {
        flex-direction: column;
    }
    .contact__left,
    .contact__right {
        flex: 1;
        max-width: 100%;
}
.contact__left {
    padding: 0 15%;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
      font-size: 27px;
}
.feedback-form,
.direct-contact-container {height: auto; }

.contact__body hr {
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 30%;
    border-color: rgba(255,255,255,.6);
}
.feedback-form {margin-bottom: 40px}
}
@media (max-width: 720px) {
input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    font-size: 4vw;
}
.contact__left {
    padding: 0 10%;
}
/*.contact__wrapper h1 {font-size: 64px;}*/
.contact__left {
    padding: 0 0;
    margin: 0;
}
.phone {
  font-size: 20px;
}
.gmail {
  font-size: 20px;
}
}
@media (max-width: 560px) {
.contact__wrapper h2 {
    border-bottom: 3px #fff solid;border-width: 15%;
}
}
@media (max-width: 449px) {
/*.contact__wrapper h2 {font-size: 44px;} */
.place {
  margin-left: 0;
}
.phone {
  margin-left: 10px;
  font-size: 16px;
}
.gmail {
  margin-left: 10px;
  font-size: 16px;
}
.social-media-list li {
  height: 54px;
  width: 54px;
}
.social-media-list li:after {

  width: 54px;
  height: 54px;
}
}
@media (max-width: 360px) {
h1 {font-size: 34px;} 
.gmail {
    font-size: 14px;
    margin-left: 5px;
}
.phone {
    font-size: 14px;
    margin-left: 5px;
}
.social-media-list li {
  height: 40px;
  width: 40px;
}
.social-media-list li:after {

  width: 40px;
  height: 40px;
}}


  /*FOOTER*/
.footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #100D08;
/*    font-family: "Fira Sans", sans-serif;*/
    letter-spacing: 1px;
}
.section-footer {
    margin: 0;
}
.footer {
    width: 100%;
    padding: 30px 0 0 0; /* Внутренний отступ вверху и внизу */
}
.footer-logo {
    display: flex;
    justify-content: center;

}
.footer-logo img {
    width: 250px;
    height: 150px;
    box-shadow: 2px 5px 10px yellow;
}
.social-media__footer  {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
.social-media__footer  li a {
  font-size: 22px;
}
.social-media__footer  li {
  text-align: center;
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 10px 10px 0;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: #333;
  cursor: pointer; 
  transition: all .2s ease-in-out;
}
.social-media__footer li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
  pointer-events: none; 
}
.social-media__footer  li:hover {
  background-color: #fff; 
}
.social-media__footer li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}
.social-media__footer  li:hover a {
  color: #000;
}


/*AFTER SOCIAL*/
.footer-list .list-item {
    display: inline-block; /* Размещаем элементы списка в строку */
    margin-right: 30px; /* Устанавливаем отступ между элементами списка */
}
.footer-list {
    padding: 40px;
    line-height: 1.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-list .list-link {
    font-size: 24px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    transition: all 0.3s ease;
}
.footer-list .list-link i {
    margin-right: 20px;
}
.footer-list .list-link:hover {
    color: #fff;
    padding-left: 2px;
    border-bottom: #ff0000 solid 2px;
    padding-bottom: 10px;
}
.copyright__block {
    padding: 20px 40px 0 40px;
    text-align: center;
    margin-top: 60px;
    position: relative;
    bottom: 0;
}
@media(max-width: 1350.98px) {
    .footer-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
 }
@media(max-width: 991.98px) {
    .footer-list {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center; }

    .footer-list .list-item {
        margin: 0 0 15px 0;
    }
}





